* {
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#headwrapper {
    width: 100%;

}

header, nav {
    margin: auto;
}

img {
    display: block;
}

h1 {
    font-size: 28px;
}

footer {
    background-color: #00c9fd;
}

header > h1 {
    color: #000;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    padding: 5px;
    padding-top: 20px;
}

.contact, article {
    background-color: #ccc;
}

nav {
    text-align: center;
}

nav > a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

nav > a:hover {
    color: #fff;
    background-color: #00c9fd;
}

#big-image {
    height: 550px;
    width: 100%;
    background-image: url(../img/titan2.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#big-image > p {
    width: 350px;
    color: #00c9fd;
    background-color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

p {
    padding: 20px;
}

p > a {
    font-size: 100%;
    font-weight: bold;
    color: #00c9fd;
    text-decoration: none;
}

p > a:hover {
    font-size: 110%;
    color: #222;
}

h1 {
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer > p {
    color: #f0f0f0;
    width: 860px;
    height: 150px;
    margin: auto;
}

.analytical-engine {
    width: 348px;
    float: right;
}

.focus {
    color: #00c9fd;
}

main {
    margin: auto;
    width: 900px;
}

.bigleft {
    width: 590px;
    margin-right: 10px;
    float: left;
}

.bigleft > img {
    height: 455px;
    width: 100%;
}

.bigleft > p {
    text-align: center;
}

.smallright {
    width: 290px;
    margin-left: 10px;
    float: right;
}

.clearboth {
    clear: both;
}

.contact > table {
    margin: auto;
    width: 900px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.right{
    text-align: right;
}

td > a {
    text-decoration: none;
}

td > a:hover {
    color: #000;
}

.image-link {
    width: 50px;
    float: left;
    margin: 5px
}